/* Main container */
.main-container {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
  }

  .home-header{
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
   }

  .parlament-background{
    width: 100%;
  }
  
  /* Title Styling */
  .title {
    margin-top: 40px;
    font-size: 2rem;
    color: #3F0DD1;
  }
  
  /* Logo Styling */
  .logo-container {
    margin: 15px;
  }
  
  .logo {
    width: 215px; /* Adjust size as needed */
    height: 180px;
  }
  
  /* Buttons Container */
  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 75px;
  }
  
  .button {
    width: 220px;
    background-color: #3F0DD1;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #008c44;
  }  