.screens::-webkit-scrollbar-button {
  display: none;
}

.screens::-webkit-scrollbar-track {
  background-color: #f9f9f9;
  border-radius: 10px;
}

.screens::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

.screens::-webkit-scrollbar-thumb {
  background-color: rgba(235, 235, 235, 0.6);
  border-radius: 10px;
}

.screens::-webkit-scrollbar {
width: 8px;
height: 8px;
}

.screensmenu{
  margin-top: 15px;
}

.screensmenu::-webkit-scrollbar-button {
  display: none;
}

.screensmenu::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

.screensmenu::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

.screensmenu::-webkit-scrollbar-thumb {
  background-color: rgba(238, 238, 238, 0.6);
  border-radius: 10px;
}

.screensmenu::-webkit-scrollbar {
width: 8px;
height: 8px;
}

.notification {
  position: absolute;
  margin-top: 17%;
  left: 3%;
  color: rgb(110, 79, 79);
  padding-left: 15px;
  padding-top: 10px;
  border-radius: 15px;
  z-index: 9999;
  background-color: rgba(201, 199, 199, 0.3);
  backdrop-filter: blur(10px);
  width: 350px;
  height: 70px;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    color: #646161;
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.notification.success {
  background-color: rgba(0, 255, 17, 0.3); /* Зеленый цвет для успеха */
  color: white;
  font-weight: bold;
}

.notification.error {
  background-color: rgba(242, 9, 9, 0.3); /* Красный цвет для ошибок */
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 20px;
}

.notification.neutral {
  background-color: rgba(201, 199, 199, 0.3); /* Красный цвет для ошибок */
}